@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400..900&display=swap');

:root {
    --bg-color-primario: #737061;
    --a-color: white;
    --a-color-hover: yellow;
    --color-texto-primario: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: "Maven Pro";
    margin: 0;
    padding: 0;
    width: 100vw;
    height: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
    background-color: var(--bg-color-primario);
    color: var(--color-texto-primario);
}

a {
    text-decoration: none;
    color: var(--a-color);
}

ul {
    list-style-type: none;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #CECCC8;

}

.header__logo {
    width: 5rem;
}

.header__nav {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.5);

}

.header__list {
    list-style: none;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
}

.header__item {
    margin: 1.5rem;
    text-align: center;
}

.header__link {
    cursor: pointer;
    transition-duration: 0.5s;
}

.header__link:hover {
    color: var(--a-color-hover);
    transition-duration: 1s;

}

.header__icon--close {
    position: absolute;
    top: 10px;
    left: 90vw;
}

.header__menu-toggle {
    display: none;
}

.header__menu-icon {
    display: block;
    cursor: pointer;
}

.header__icon {
    width: 30px;
}

.header__menu-toggle:checked~.header__nav {
    display: flex;
}

.header__menu-toggle:checked~.header__menu-icon .header__icon--open {
    display: none;
}

.header__menu-toggle:checked~.header__menu-icon .header__icon--close {
    display: block;
}

.header__list .visible {
    opacity: 1;
    visibility: visible;
    transition: 0.5s;
}

.Home {
    width: 100%;
    background-color: #CECCC8;

}

.Home__img {
    width: 100vw;
    height: fit-content;
    top: 100%;
}

.Home__logos {
    display: none;
}


.NF {
    min-height: 100vh;
    height: auto;
    width: 100vw;
    position: relative;
    margin: 0;
    padding: 0;
    background-color: #CECCC8;

}

.NF__imagen {
    max-width: 100%;
    width: 30%;
}

.section-a {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.imagen__bio {
    width: 90vw;
    border-radius: 20px;
    border-color: transparent;
}

.tittle {
    font-size: clamp(2rem, 2.5rem, 3rem);
}

.tittle-t1 {
    font-size: clamp(3.5rem, 4rem, 5rem);
    margin: auto;

}

.tittle-t2 {
    position: absolute;
    top: 43%;
    left: 10%;
}

.texto {
    padding: 0rem 1.2rem;
    text-align: center;
    font-size: clamp(1.2rem, 1.5rem, 2rem);
    margin: 5vw 0;
}

.section-b {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: auto;
}

.imagen__nathan {
    width: 80vw;
    border-radius: 20px;
}

.tittle-t3 {
    position: absolute;
    top: 37%;
    left: 25%;
    color: gray;
}

.Hope {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    min-height: auto;
    background-color: #CECCC8;
}

.Hope img {
    width: 90vw;
    margin-top: 10vw;
    border-radius: 10px;
}

.Hope__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 2rem 0;
    align-items: center;
    text-align: center;
}

.Hope__container h1 {
    font-size: clamp(2.5rem, 3rem, 4rem);
}

.Hope__texto {
    display: flex;
    flex-direction: column;
    margin-top: 5vw;
}

.Hope__texto h2 {
    margin-bottom: 5vw;
}

.Hope__texto a {
    color: #859B99;
    padding: 1rem;
    border: 1px solid #859B99;
    border-radius: 10px;
    transition-duration: 1s;
    margin-bottom: 2rem;
    font-size: clamp(1rem, 1.1rem, 1.2rem);
}

.Hope__texto a:hover {
    color: white;
    background-color: #8faaa7;
}

.Spotify {
    height: auto;
    width: 100vw;
    background-color: #CECCC8;
    display: flex;
    justify-content: center;
    align-items: center;

}

.Spotify iframe {
    width: 80vw;
    height: 50vh;
    margin: 2rem 0.5rem;
    box-shadow: 0 0 15px 5px rgba(90, 106, 106, 0.9);
}

.Album {
    width: 100vw;
    min-height: 100vh;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    background-color: #CECCC8;

}

.Album h1 {
    font-size: clamp(3.5rem, 4rem, 5rem);
}

.Album__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 90vw;
}

.Album__item {
    position: relative;
    cursor: pointer;
    margin: 1rem;
    transition-duration: 0.5s;
}

.Album__img,
.Album__img--cover {
    max-width: 100%;
    width: 20rem;
    min-width: 15rem;
    height: auto;
    border-radius: 15px;
}

.Album__img--cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    transition: opacity 0.5s ease;
}

.Album__item:hover .Album__img--cover {
    display: block;
}

.Album__item:hover .Album__text {
    display: none;
}

.Album__item:hover {
    transform: scale(1.1);
}


.Store {
    width: 100vw;
    min-height: 100vh;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 1.5vw;
    text-transform: uppercase;
    background: radial-gradient(circle, #CECCC8, #D4D3CE);

}

.Store h1 {
    font-size: clamp(3.5rem, 4rem, 5rem);

}

.Store__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.Store__item {
    position: relative;
    cursor: pointer;
    transition-duration: 1s;
}

.Store__img,
.Store__img--cover {
    max-width: 100%;
    width: 25rem;
    min-width: 20rem;
    height: auto;
    display: block;
}

.Store__img--cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}

.Store__item:hover .Store__img--cover {
    display: block;
}

.Store__item:hover {
    transform: scale(1.1);
}

.Store__link {
    display: flex;
    gap: 2rem;
}

.Store__link {
    color: #859B99;
    padding: 1rem;
    border: 1px solid #859B99;
    border-radius: 10px;
    transition-duration: 1s;
    margin-bottom: 2rem;
    font-size: clamp(1rem, 1.1rem, 1.2rem);

}

.Store__link:hover {
    background-color: #859B99;
    color: white;
}

.Tour {
    width: 100vw;
    min-height: 100vh;
    height: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #D3D2CD;
}

.Tour__texto h1 {
    margin: 0;
    font-size: clamp(3.5rem, 4rem, 5rem);
}

.Tour__texto p {
    font-size: clamp(1rem, 1.1rem, 1.2rem);
    width: 80%;
    margin: auto;
    margin-bottom: 6vw;
}

.Tour__texto a {
    color: #859B99;
    font-size: clamp(1rem, 1.1rem, 1.2rem);
    margin-top: 1.5rem;
    padding: 0.5rem;
    border: 1px solid #313a39;
    transition-duration: 1s;
}

.Tour__texto a:hover {
    background-color: #859B99;
    color: white;
}


.registro {
    width: 80%;
    margin: 4rem auto;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 3px 10px #859B99;
    font-size: clamp(1rem, 1.1rem, 1.2rem);


}

.registro label {
    line-height: 2.7em;
    color: var(--text-color);
}


.registro .input-field {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    border: none;
    font-size: clamp(1rem, 1.1rem, 1.2rem);
    outline: none;
}

.input-field::placeholder {
    padding: 0.5rem;
    color: var(--text-color);
}

.submit-btn {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    font-size: 1vw;
}

.submit-btn:hover {
    background-color: #D4D3CE;
    cursor: pointer;
}

footer {
    background-color: #767363;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: clamp(1rem, 1.1rem, 1.2rem);
}

.redes {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 1rem;
}

.redes a {
    margin: 0 10px;
    color: black;
    font-size: 24px;
    transition: color 0.3s ease;
}

.redes a:hover {
    color: white;
}

.copyright img {
    margin-top: 2rem;
    width: 100px;
    margin: auto;
}

.mobile-message {
    display: none;
}

@media screen and (max-width:320px) {

    main,
    header,
    footer {
        display: none;
    }

    .mobile-message {
        background-image: url(/Multimedia/Footer\ NF\ sentado.jpg);
        background-size: contain;
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        text-align: center;
    }

    .mobile-message h1 {
        margin: 2rem;
        padding: 2rem;
        border: 2px solid gray;
        border-radius: 25px;
        background-color: #222D2C;
        opacity: 0.5;
        font-size: 7vw;
    }
}

@media screen and (min-width: 1024px) {
    .Home__img {
        width: 50vw;
        margin: auto;
    }

    .NF {
        height: auto;
    }

    .imagen__bio {
        width: 40vw;
        height: auto;
        border-radius: 0px;
        left: 65vw;
        position: absolute;
        margin: 2vw 0vw;
    }

    .tittle-t2 {
        position: absolute;
        top: 100%;
        left: 70%
    }

    .texto-historia {
        width: 50%;
        position: relative;
        left: -20%
    }

    .imagen__nathan {
        width: 20vw;
        left: 2%;
        position: absolute;
        border-radius: 0px;
    }

    .texto-nathan {
        position: relative;
        width: 40%;
        left: 22.5%;
    }

    .tittle-t3 {
        left: 12%;
        top: -7%;
    }

    .Hope {
        flex-direction: row;
        height: 100vh;
        justify-content: space-around;
        text-align: center;
        align-items: center;
    }

    .Hope img {
        margin-top: 0;
        max-width: 50%;
        width: 40rem;
        height: fit-content;
        border-radius: 15px;
        box-shadow: 0 0 15px 5px rgba(90, 106, 106, 0.9);
    }
    .Spotify {
        height: 100vh;
        width: 100vw;
    }
    .Spotify iframe {
        width: 50vw;
        height: 50vh;
    }
    
.Tour__texto a {
    padding: 0.5rem;
    border: 1px solid #313a39;
    border-radius: 10px;
}

.registro {
    width: 40%;
}
}