@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400..900&display=swap');

:root{
    --text-color: #859B99;
    --bg-color:#020101;
    --a-color: white;
    --text-size: 1.5rem
}

html, body {
    font-family: "Maven Pro";
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background-color: var(--bg-color);
    color: var(--text-color);
    background-origin: border-box;
    overflow-x: hidden;

    
}
h1 {
    font-size: 3vw;
}
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(2, 1, 5, 0.5);
    font-size: var(--text-size);
    position: fixed;
    width: 100%;
    top:0;    
    z-index:1000;
}

a{
    text-decoration: none;
    color: var(--text-color);
}

ul{
    list-style: none;
}
.header__logo{
    width: 7rem;
}

.header__list{
    display: flex;
    list-style: none;
    text-transform: uppercase;
}

.header__item{
    margin:1rem;
}

.header__link{
    color: var(--text-color);
    transition-duration: 0.5s;
}

.header__link:hover{
    color: var(--a-color);
    transition-duration: 1s;

}

.Home{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-around;
}

.Home__img{
    max-width: 100%;
    height: auto;
}


.Home__logos{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 7vw;
}

.Home__logos .logo{
    width: 15vw;
}

.logo__fijo {
    position: absolute;
    z-index: 1; 
}

.logo__arriba{
    position: absolute;
    animation: arriba 4s infinite;
}

.logo__abajo {
    animation: abajo 4s infinite;
}

@keyframes abajo {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(250px);
    }
}

@keyframes arriba {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-250px);
    }
}

.NF{
    min-height: 100vh;
    height: auto;    
    width: 100vw;
    position: relative;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.05), #000000);
    animation:Change-color 6s ease infinite;
    background-size: 400% 400%;
}

@keyframes Change-color{
    0% {
        background-position: 0% 0%;
    }
    10% {
        background-position: 20% 30%;
    }
    20% {
        background-position: 50% 20%;
    }
    30% {
        background-position: 80% 40%;
    }
    40% {
        background-position: 40% 70%;
    }
    50% {
        background-position: 60% 90%;
    }
    60% {
        background-position: 20% 80%;
    }
    70% {
        background-position: 80% 20%;
    }
    80% {
        background-position: 30% 50%;
    }
    90% {
        background-position: 70% 30%;
    }
    100% {
        background-position: 0% 0%;
    }
}
.NF__imagen{
    max-width: 100%;
    width: 25%;
}

.NF__section-a, .NF__section-b {
    display: flex;
    min-height: auto;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.imagen__bio{
    position: absolute;
    margin-top: 2rem ;
    right: 0;
    top: 0;
    width: 40%;

}

.imagen__nathan{
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
}


.NF__tittle--t1{
    position: absolute;
    right: 20vw;
    top: 0;
    margin: 0.5rem;
    font-size: 4.2vw;
    letter-spacing: -4px;
}
.NF__tittle--t2{
    position: absolute;
    right: 7vw;
    top:28vw;
    margin: 1rem;
    font-size: 4.2vw;
    letter-spacing: -4px;
}

.NF__tittle--t3{
    position: absolute;
    right: 70vw;
    top:18vw;
    margin: 0rem;
    font-size: 4.2vw;
    letter-spacing: -4px;
}

.NF__texto--historia{
    position: absolute;
    right: 47vw;
    top: 5vw; 
    width: 40rem;
    color: white;
    padding: 1rem;
    font-size: 1.3rem;
}

.NF__texto--nathan{
    position: absolute;
    left: 23vw;
    bottom: 10vh; 
    width: 35%;
    color: white;
    padding: 1rem;
    font-size: 1.3rem;
    z-index: 2;
}

.Hope{
    display: flex;
    justify-content: space-around;
    min-height: 100vh;
    height: auto;
    width: 100vw;
    background-color: #5A6A6A;
    padding: 2rem 0;
    text-align: center;
    align-items: center;
}

.Hope img{
    max-width: 50%; 
    width: 40rem;
    height: fit-content;
    border-radius: 15px;
    box-shadow: 0 0 15px 5px rgba(90, 106, 106, 0.9);
}

.Hope__container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 4rem 0;
    align-items: center;
    text-align: center;
}

.Hope__texto a {
    color: #859B99;
    padding: 0.5rem;
    border: 1px solid #859B99;
    transition-duration: 1.2s;
    border-radius: 15px;

}

.Hope__texto a:hover {
    background-color: #859B99;
    color: black;
}


.Spotify{
    height: 100vh;
    width: 100vw;
    background-color: #485050;
    background: radial-gradient(circle,#485050, #D4D3CE);
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.Spotify iframe {
    width: 40vw; 
    max-width: 60%; 
    height: 50vh;
    margin: 2rem; 
    box-shadow: 0 0 15px 5px rgba(90, 106, 106, 0.9);

}

.Album{
    width: 100vw;
    min-height: 100vh;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #262626;
    padding: 0;

}

.Album__list{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center; 
    width: 100%;
    max-width: 90vw;
}

.Album__item {
    position: relative;
    cursor: pointer;
    margin: 1rem;
    transition-duration: 0.5s;
}

.Album__img, .Album__img--cover {
    max-width: 100%;
    width: 20rem;
    min-width: 15rem;
    height: auto;
    border-radius: 15px;
}

.Album__img--cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    transition: opacity 0.5s ease;
}

.Album__item:hover .Album__img--cover {
    display: block;
}
.Album__item:hover .Album__text {
    display: none;
}
.Album__item:hover  {
    transform: scale(1.1); 
}

.Store{
    width: 100vw;
    min-height: 100vh;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 1.5vw;
    text-transform: uppercase;
    background: radial-gradient(circle,#CECCC8, #D4D3CE);

}

.Store__list{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;  
}

.Store__item {
    position: relative;
    cursor: pointer;
    transition-duration: 1s;
}

.Store__img, .Store__img--cover {
    max-width: 100%;
    width: 25rem;
    min-width: 20rem;
    height: auto;
    display: block;
}

.Store__img--cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}

.Store__item:hover .Store__img--cover {
    display: block;
}

.Store__item:hover{
    transform: scale(1.1); 
}

.Store__link{
    display: flex;
    gap: 2rem;
}

.Store__link a {
    color: #859B99;
    padding: 1rem;
    border: 1px solid #859B99;
    border-radius: 10px;
    transition-duration: 1s;
}

.Store__link a:hover {
    background-color: #859B99;
    color: white;
}

.Tour{
    width: 100vw;
    min-height: 100vh;
    height: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #D3D2CD;
}

.Tour__texto h1{
    margin: 0;
    font-size: 5.3vw;
}
.Tour__texto p {
    font-size: 2vw;
    width: 50%;
    margin: auto;
}

.Tour__texto h2{
    margin: 2rem;
    font-size: 2.5vw;

}

.Tour__texto a{
    color: #859B99;
    margin: 1rem;
    padding: 0.5rem;
    border: 1px solid #859B99;
    border-radius: 10px;
    transition-duration: 1s;
}

.Tour__texto a:hover{
    background-color: #859B99;
    color: white;
}


.registro{
    max-width: 40.75rem;
    width: 100%;
    margin: 4rem auto;
    padding: 0.938rem;
    border-radius: 8px;
    box-shadow: 0 3px 10px #859B99 ;
    
}

.registro label {
    line-height: 2.7em;
    color: var(--text-color);
}
  

.registro .input-field {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    border: none;
    font-size: 1.1vw;
    outline: none;
}

.input-field::placeholder {
    padding: 0.5rem;
    color: var(--text-color);
}

.submit-btn {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    font-size: 1vw;
}

.submit-btn:hover {
    background-color: #D4D3CE ;
    cursor: pointer;
}

footer{
    background-color: #767363;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.2vw;
}

.redes {
    text-align: center;
    margin-top: 20px;
}

.redes a {
    margin: 0 10px;
    color: black;
    font-size: 24px;
    transition: color 0.3s ease;
}

.redes a:hover {
    color: white;
}

.copyright img{
    margin-top: 1rem;
    width: 100px;
    margin: auto;
}

.mobile-message{
    display: none;
}

@media (max-width:780px) or (min-width:2160px){
    main, header, footer{
        display: none;
    }

    .mobile-message{
        background-image: url(/Multimedia/Footer\ NF\ sentado.jpg);
        background-size: contain;
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        text-align: center;
    }

    .mobile-message h1{
        margin: 2rem;
        padding: 2rem;
        border: 2px solid gray;
        border-radius: 25px;
        background-color: #222D2C;
        opacity: 0.5;
        font-size: 7vw;
    }
}
